.card{
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 50px;
  text-align: center;
  box-shadow: rgba(80, 78, 78, 0.5) 3px 3px 20px;
  border-radius: 10px;
}
.card > p{
  padding: 5px 15px;
}
.card > span{
  padding-bottom: 25px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.card > span > a{
  color: white;
  text-decoration: none;
  padding: 5px 7px;
  border-radius: 5px;
  background-color: rgba(80, 78, 78, 0.5);
  width: fit-content;
}
.card > h1{
  margin-top: 20px;
}
.card > img{
  border-radius: 10px 10px 0 0;
}